.text-container {
  width: 400px;
  height: 100px;

  padding: 0 15px;
  margin: 0 auto;

  border: 1px solid black;
  overflow: hidden;

  /* Kursor u obliku ruko koji oznaÄava da je regija "klikabilna" */
  cursor: pointer;
}
